<footer>
    <div class="social">
    <div class="contacto">
      <p><span>Copyright &copy; BookStore-Grupo 5 2022</span></p>
    </div>
    <div class="links">
        <a href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com/">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/">
          <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</div>
</footer>