<footer>
    <div class="social">
    <div class="contacto">
      <p>Contacto</p>
    </div>
    <div class="links">
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</div>
</footer>