<header class="header">
    <div class="header-container">
        <!-- LOGO -->
        <div class="logo-bookstore">
        <a href="/"><img src="/img/logo.jpg" alt="Logo Book Store" /></a>
        </div>
        <!-- BARRA DE BUSQUEDA -->
        <form action="" class="search-form">
          <input type="search" name="" placeholder="Busque aqui..." id="search-box">
          <label for="search-box" class="fas fa-search"></label>
        </form>
        <!-- ICONOS -->
        <div class="icons">
          <div id="search-btn" class="fas fa-search"></div>
          <% if (locals.isLogged) { %>
              <p> Hi <%= locals.userLogged.fullName %>!</p>
              <a href="../users/profile" class="fas fa-heart"></a>
          <!-- no está funcionando del todo el if...-->
              <% } else { %> 
              <a href="../products/cart" class="fas fa-shopping-cart"></a>
              <a href="../users/login"id="login-btn" class="fas fa-user"></a>
            <% } %>
        </div>
    </div>
      <!-- NAVEGACION -->
    <div class="header-container-2">
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="../products/catalog">Categorias</a>
        <a href="#contacto">Contacto</a>
      </nav>
    </div>
  </header>