<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        
    
        <!-- FONT AWESOME -->
            <script
            src="https://kit.fontawesome.com/0442526d0c.js"
            crossorigin="anonymous"></script>
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/cart.css" />

    <title>Carrito</title>
</head>
<body>
    <header>
    <!-- LOGO -->
    <div class="header-container">
        <div class="logo-bookstore">
            <a href="/"><img src="/img/logo.jpg" alt="Logo Book Store" /></a>
        </div>
    </div>
    <!-- NAVEGACION -->
    <div class="header-container-2">
        <nav class="navbar">
            <a href="/">home</a>
            <a href="#lanzamientos">lanzamientos</a>
            <a href="#plataforma">plataforma</a>
            <a href="#categorias">categorias</a>
        </nav>
    </div>
</header>

    <!-- CARRITO DE COMPRAS -->
    <div class="container">
        <h1>Shopping Cart</h1>
        <div class="cart">
            <div class="products">
                <div class="product">
                    <img src="/img/tapalibro.jpg" alt="">
                    <div class="product-info">
                        <h3 class="product-name">Vol 1</h3>
                        <h4 class="product-price">2000</h4>
                        <h4 class="product-offer">50% off</h4>
                        <p class="product-quantity">Cant: <input value="1" name="">
                        <p class="product-remove">
                            <i class="fa-solid fa-trash-can"></i>
                            <span class="remove">Remove</span>
                        </p>

                    </div>
                </div>
                <div class="product">
                    <img src="/img/tapalibro.jpg" alt="">
                    <div class="product-info">
                        <h3 class="product-name">Vol 2</h3>
                        <h4 class="product-price">$2000</h4>
                        <h4 class="product-offer">40% off</h4>
                        <p class="product-quantity">Cant: <input value="1" name="">
                        <p class="product-remove">
                            <i class="fa-solid fa-trash-can"></i>
                            <span class="remove">Remove</span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="cart-total">
                <p>
                    <span>Precio Total</span>
                    <span>$3000</span>
                </p>
                <p>
                    <span>Numero de items</span>
                    <span>2</span>
                </p>
                <p>
                    <span>Te ahorraste</span>
                    <span>$1000</span>
                </p>
                <a href="">Proceder al Checkout</a>
            </div>
        </div>
    </div>
    
</body>
</html>