<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/detalle-producto.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="imgBox">
            <img src="/img/register-background.jpg" alt="Libro">
        </div>
        <div class="details">
            <div class="title">
                <h3>Libro XX <br>
                    <small>Categoria</small>
                </h3>
            </div>
            <div class="description">
    <h4>Descripcion</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum enim eveniet quos voluptates pariatur vitae. 
    Numquam corporis alias recusandae distinctio excepturi. Voluptas quae deserunt qui 
    enim voluptates animi ad aperiam?</p>
            </div>
            <div class="buy">
                <div class="price">
                    <sup>$</sup>
                    <span>155</span>
                </div>
                <div class="button">
                    <a href="#">Agregar al Carrito</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>