<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Include Head -->
    <%- include("./partials/head") %>
    
      <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css" />

    <title>Book Store</title>
  </head>
  <body>
    <!-- HEADER -->
    
<%- include("./partials/header") %>

    <!-- BOTTOM NAVBAR -->

      <nav class="bottom-navbar">
        <a href="/" class="fas fa-home"></a>
        <a href="#destacados" class="fas fa-tags"></a>
        <a href="#plataforma" class="fa-solid fa-laptop-file"></a>
        <a href="#categorias" class="fa-solid fa-swatchbook"></a>
      </nav>
    



<!-- Centro del body -->
  <main>
    <div class="main-container">
      
        <div class="card card-ebooks">
          <h2>E-books</h2>
        </div>
      
      
        <div class="card card-Impresos">
          <h2>Fisicos</h2>
        </div>
      
    </div>



  </main>
<!-- Footer -->

<%- include("./partials/footer") %>

  <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>

  <!-- CUSTOM JS -->
    <script src="js/script.js"></script>


  </body>
</html>
