<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    

      <!-- FONT AWESOME -->
        <script
          src="https://kit.fontawesome.com/0442526d0c.js"
          crossorigin="anonymous"></script>

      <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css" />


    <title>Book Store</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header-container">
          <!-- LOGO -->
          <div class="logo-bookstore">
          <a href="/"><img src="/img/logo.jpg" alt="Logo Book Store" /></a>
          </div>
          <!-- BARRA DE BUSQUEDA -->
          <form action="" class="search-form">
            <input type="search" name="" placeholder="Busque aqui..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
          </form>
          <!-- ICONOS -->
          <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="products/detalle-producto.ejs" class="fas fa-heart"></a>
            <a href="cart.ejs" class="fas fa-shopping-cart"></a>
            <a href="users/login.ejs"id="login-btn" class="fas fa-user"></a>
          </div>
      </div>
        <!-- NAVEGACION -->
      <div class="header-container-2">
        <nav class="navbar">
          <a href="/">home</a>
          <a href="#lanzamientos">lanzamientos</a>
          <a href="#plataforma">plataforma</a>
          <a href="#categorias">categorias</a>
        </nav>
      </div>
    </header>

    <!-- BOTTOM NAVBAR -->

      <nav class="bottom-navbar">
        <a href="/" class="fas fa-home"></a>
        <a href="#destacados" class="fas fa-tags"></a>
        <a href="#plataforma" class="fa-solid fa-laptop-file"></a>
        <a href="#categorias" class="fa-solid fa-swatchbook"></a>
      </nav>
    



<!-- Centro del body -->
  <main>
    <div class="main-container">
      
        <div class="card card-ebooks">
          <h2>E-books</h2>
        </div>
      
      
        <div class="card card-Impresos">
          <h2>Fisicos</h2>
        </div>
      
    </div>



  </main>
<!-- Footer -->
  <footer>
      <div class="social">
      <div class="contacto">
        <p>Contacto</p>
      </div>
      <div class="links">
          <a href="#">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
      </div>
    </div>
  
  </footer>

  <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>

  <!-- CUSTOM JS -->
    <script src="js/script.js"></script>


  </body>
</html>
