*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gentium Book Basic', serif;
}
body{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23a3a3a3' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* LOGO */
.logo-bookstore{
    display: flex;
    justify-content: center;
}

.logo-bookstore img {
    width: 120px;
    border: 1px solid #917443;
    border-radius: 20%;
    padding: 10px;
    background: #fff;
}





.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container h1{
    padding: 20px 0;
}

.cart{
    display: flex;
    background-color: #fff;
}

.products{
    flex: 0.75;  /* agranda la caja */
}

.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px ;
}

.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}

.product img{
    /* width: 300px; */
    height: 200px;
    object-fit: cover;
}

.product img:hover{
    transform: scale(1.04);
}

.product-info{
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-name,
.product-price,
.product-offer{
    margin-bottom: 20px;
}

.product-remove{
    position: absolute;
    bottom: 20px; right: 20px;
    padding: 10px 25px;
    background-color: #3c9b96;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover{
    background-color: #fff;
    color: #3c9b96;
    font-weight: 600;
    border: 1px solid #3c9b96;
}

.product-quantity input{
    width: 40px;
    padding: 5px;
    text-align: center;

}

.product-remove i {
    margin-right: 5px;
}

.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #f5c36e;
    color: #fff;
    text-decoration: none;
}

.cart-total a:hover{
    background-color: #3c9b96;
}

@media (max-width:489px){
    .remove{
        display: none;
    }

    .product{
        height: 150px;
    }

    .product img{
        height: 150px;
        width: 150px;
    }
    
    .product-name, 
    .product-price, 
    .product-offer{
        margin-bottom: 10px;
    }
}
@media (max-width:769px){
    .cart{
        flex-direction: column;
    }

    .cart-total{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media (max-width:1220px){

    .container{
        max-width: 95%;
    }
}