*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gentium Book Basic', serif;
    text-decoration: none;
    text-transform: capitalize; /* Esto muestra un texto con la primera letra de cada palabra en mayúsculas. */
    transition: all .2s linear;
}

/* BODY */

body{
    font-size: 12px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23a3a3a3' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");

}

/* HEADER 1 */

.header-container{
    background: #fff;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.59);
}

.logo-bookstore{
    display: flex;
    justify-content: center;
}

.logo-bookstore img {
    width: 120px;
    border: 1px solid #917443;
    border-radius: 20%;
    padding: 10px;
    background: #fff;
}

/*Boton de busqueda*/

.search-form{
    width: 30rem;
    height: 3rem;
    border: 2px solid black;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    display: none;
}

.search-form input{
    font-size: 1rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 90%;
    text-transform: none;
    border: none;
}

.search-form label{
    font-size: 1.2rem;
    padding-right: 0.5rem;
    color: black;
    cursor: pointer;
}

.search-form label:hover{
    color: #f5c36e;
}

/* ICONS */
.icons{
    display: flex;
     flex-direction: row-reverse; 
 }
.icons div,
.icons a{
    font-size: 1.0rem;
    margin-left:1.0rem ;
    margin-top: 5px;
    color: black;
    cursor: pointer;
}
.cartIcon{
    position: relative;
}

.cartAmount{
    position: absolute;
    top: -10pt;
    font-size: 13px;
    padding: 3px;
    border-radius: 3px;
}
.userIcon img{
    border-radius:100%;
    width: 40px;
    border: 1px solid black;
  }
.icons div:hover,
.icons a:hover{
    color: #f5c36e;
}

/* HEADER 2 */

.header-container-2{
    background-color: #f5c36e;
    display: none;
}

.navbar{
    text-align: center;
}

.navbar a{
    color: #fff;
    display: inline-block;
    padding: 0.9rem;
    font-size: 1.5rem;
}

.navbar a:hover{
    border-bottom: 3px solid #2d3c4b;
}

.navbar a:hover{
    background: #f5c36e;
}

/* BOTTOM NAVBAR */

.bottom-navbar{
    text-align: center;
    background: #f5c36e;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
}

.bottom-navbar a{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    margin: 0 10px;
}

.bottom-navbar a:hover{
    background-color: #2d3c4b;

}

/* MAIN */

main{
    width: 100vw;  
    padding: 20px 25px; 
    margin: 3px;
}


h1{
    text-align: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;

}

.main-container div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(67, 86, 105, 0.8);
    border: 3px solid black;
    border-radius: 2em;
    margin-top: 20%;
    
}

.main-container div h2:hover{
    background-color: #f5c36e;   
}

div .main-container{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
    justify-content: start
}

img{
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
}

.contact-info{
    flex: 0.25;
    margin-left: 5px;
    margin-right: 5px;
    
    padding: 20px;
    
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #fff;
}
.contact-info h3{
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #2d3c4b;
}

.mobileOnly{
    font-size: 5em;
    color: #f5c36e;
    background: rgba(67, 86, 105, 0.8);
    border: 3px solid black;
    border-radius: 2em;
    margin-bottom: 30px;

}

.contact-info h1{
    display: none;
}

.contact-info p{
    margin: 0;
    font-size: 1.5em;
    
}

/* Footer */

footer{
    /* margin-top: auto; */
    background-color: #2d3c4b;
    padding: 1em 0;
    text-align: center;
    border-top: 3px solid black 2px;
    display: none;
}

footer div.social{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}
footer div p{
    font-size: 20px;
    margin-bottom: 0px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}


footer div.links a{
    margin: 0 30px;
}

footer div.links a i{
    font-size: 1.5rem;
    color: #fff;
}

footer div.links a i:hover,
footer p:hover{
    color: #f5c36e;
}


/*MOBILE FIRST*/

@media(min-width:425px){

.search-form{
        display:contents;
    }
    #login-btn{
        display: none;
      }
    
      .cartIcon{
        display: none;
    }

    div .icons{
        display: contents;
    }

.header-container{
    display: flex;
}

div .icons {
    display: none;
}

.header-container p{
    font-size: 12px;
   text-align: center
}

.fa-heart{
    text-align: center;
    margin-top: 5px;
}
.cartIcon{
    display: none;
}

main{
    margin-bottom: 80px;
}

.main-container{
    margin-bottom: 150px;
    /* margin-top: 90px; */
}

div .contact{
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

.img{
    margin-top: 0;
}

.contact-info{
    margin-top: 30px;
}

footer{
    display: none;
}
}


/* TABLETS */
@media(min-width:768px){

.bottom-navbar a{
    margin: 0 40px;
}
#login-btn{
    display: none;
  }

  .cartIcon{
    display: none;
}

.mobileOnly{
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
.map{
    margin: 0%;
}
.contact-info{
    margin-top: 0px;
}
footer{
        display: none;
    }
}

/* DESKTOP */

@media(min-width:1023px){

    .search-form{
        display: block;
    }

    div .icons {
        display: block;
    }

    #login-btn{
        display: block;
      }
    
      .cartIcon{
        display: block;
    }

.fa-user{
    font-size: 25px;
    color: black;
  }


    #search-btn{
        display: none;
    }
    
    .header-container-2{
        display: block;
    }
    div.icons {
        display: flex;
        flex-direction: row;
      }
    
      .cartIcon{
        display: flex;
    }
    
    .bottom-navbar{
        display: none;
    }

    .contact{
        flex-direction: row;
        margin-top: 30px;
    }
    
    .mobileOnly{
        display: none;
    }
.map{
    display: flex;
    max-height: 75%;
    margin-left: 5%;
    
}

.contact-info{
    padding: 10px;
    background: #fff ;
    color: black;
    border-left: black solid 3px;
    max-height: 75%;
    margin-right: 5%;
}
.contact-info h1{
    display: inline;
    font-size: 5em;
    color: #f5c36e;
}

.contact-info h3{
    font-size: 2em;
    font-weight: bold;
    color: #2d3c4b;
}

.contact-info p{
    font-size: 1.5em;
    
}
footer{
    display: block;
}


}