*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url("../img/register-background.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container i:hover{
    color: #F5C36E;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #F5C36E,#2D3C4B);
    
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.container form .user-details .input-box .details {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.container form .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.container form .user-details .input-box input:focus, 
.container form .user-details .input-box input:valid {
    /* border-color:#2D3C4B; */
    box-shadow: #2D3C4B; 
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    width: 80%;
}

.gender-details .category label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background:#F5C36E ;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #F5C36E,#2D3C4B);
    border-radius: 5px;
}

form .button input:hover {
    background: linear-gradient(-135deg, #F5C36E,#2D3C4B);
}

input[type="file"] {
    display:none
}

.foto-producto{
    padding: 10px;
}

.foto-producto label{
    color: white;
    background-color: #3d5064;;
    border-radius: 0.5em;
    position: relative;
    left: -5%;
    padding: 10px;
    font-size: 16px;
}

.foto-producto label:hover{
    background: #F5C36E ;
}

.foto-producto label i{
    padding: 5px 7px;
}



@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
    .container form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category {
        width: 100%;
    }
    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 0;
    }
    .gender-details .category .dot {
        width: 14px;
    }
}


/* VALIDACIONES FRONT BACK */

.text-danger{
    /* color: red; */
    border: 3px black;
    margin: 10px;
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.is-valid {
    /*  color: #198754; */
    border-color: #198754;

}

.is-invalid {
     /* color: #842029; */
    border-color:  #BB2D3B;
}

.alert-warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    list-style: none;
}