* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
    

.logo-bookStore img{
        width: 100px;
        
     }

.burger-menu{
      color: #03264C;
      font-size: 20px

      }

.carrito{
    color: #03264C;
    font-size: 20px;

}

.contenido-footer{
    text-align: center;
    line-height: 15px;
}
      


@media (min-width: 361px){
    header{
        display: flex;
        max-width: 480px;
    }
    }
    header div.top-header{
        display: flex;
        flex: wrap;
        margin:5px;
        width: 85%;
        justify-content: space-between;
    }

    div.input-text{
        display: flex;
        width: 40%;
        margin-top:20px;
        margin-left: 10px
    }

    input{
        display: flex;
        width: 100%;
        height: 20px
    }

    .fa-search{
        margin-left: 5px;
        margin-top: 5px
    }
    

    div.burger-menu{
        display: flex;
        margin-top:20px
    
       
    }

    .carrito{
        display: flex;
        margin-top:20px
        
    }

    nav{
        display:none
    
    }

    .slider-item{
        width:480px
    }

    .ebooks-impresos{
        display: flex;
        justify-content: space-around;
        margin:80px
    }

    .categorias{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:30px
    }

    .titulo{
        width:100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
   div.contenido-footer{
        width:400px;
        padding:10px;
        text-align: center;
        margin-left: 20px
    

    }



    


    

    

   



    





