* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gentium Book Basic', serif;
}

/* HEADER 1 */

.header-container{
  background: #fff;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.59);
}

.logo-bookstore{
  display: flex;
  justify-content: center;
}

.logo-bookstore img {
  width: 120px;
  border: 1px solid #917443;
  border-radius: 20%;
  padding: 10px;
  background: #fff;
}

/* Boton de busqueda */

.search-form{
  width: 30rem;
  height: 3rem;
  border: 2px solid black;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  display: none;
}

.search-form input{
  font-size: 1rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 90%;
  text-transform: none;
  border: none;
}

.search-form label{
  font-size: 1.2rem;
  padding-right: 0.5rem;
  color: black;
  cursor: pointer;
}

.search-form label:hover{
  color: #f5c36e;

}

/* ICONS */

.icons div,
.icons a{
  font-size: 1.4rem;
  margin-left:1.0rem ;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.icons div:hover,
.icons a:hover{
  color: #f5c36e;
}

/* HEADER 2 */

.header-container-2{
  background-color: #f5c36e;
  display: none;
}

.navbar{
  text-align: center;
}

.navbar a{
  color: #fff;
  display: inline-block;
  padding: 0.9rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar a:hover{
  border-bottom: 3px solid #2d3c4b;
}

.navbar a:hover{
  background: #f5c36e;
}

/* BOTTOM NAVBAR */

.bottom-navbar{
  text-align: center;
  background: #f5c36e;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  z-index: 1000;
}

.bottom-navbar a{
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  margin: 0 10px;
  
}

.bottom-navbar a:hover{
  background-color: #2d3c4b;

}

.title-usuario {
  outline: none;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #F5C36E,#2D3C4B);
  border-radius: 5px;
  margin: 15px;
  width: 350px;
  padding: 10px;
}



.contenedor {
  /* border: solid 5px blue; */
  display: flex;
  justify-content: left;
  align-items: left;
}

.img-box {
  /* border: solid 3px black; */
  margin-bottom: 30px;
  padding: 30px;
  height: 50%;
  border-bottom: #2d3c4b solid 1px;
}

.img-box img {
  border-radius: 50rem;
  width: 350px;
  height: 350px;
}

.info-user {
  /* border: solid 5px red; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 50%;
}

.info-user p{
  font-size: 18px;
}

div .user-edit{
  padding: 30px;
}

.all-buttons {
  display: flex;
}

.button {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #F5C36E,#2D3C4B);
  border-radius: 5px;
  text-decoration: none;
  
}

.button:hover {
  background: linear-gradient(-135deg, #F5C36E,#2D3C4B);
}

.user-edit {
  margin: 10px;
}

.user-edit a {
  padding: 5px;
}

.favourite-book {

padding: 20px;
}




/* Footer */

footer {
  /* margin-top: auto; */
  background-color: #2d3c4b;
  padding: 1em 0;
  text-align: center;
  border-top: 3px solid black 2px;
  /* border: solid 5px red; */
  width: 100vw;
  position: absolute;
  bottom: 0;
}

footer div.social{
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
footer div p{
  font-size: 20px;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}


footer div.links a{
  margin: 0 30px;
}

footer div.links a i{
  font-size: 1.5rem;
  color: #fff;
}

footer div.links a i:hover,
footer p:hover{
  color: #f5c36e;
}

/* MEDIA QUERY */

/* TABLETS */
@media(min-width:768px){

  .bottom-navbar a{
      margin: 0 40px;
  }
  
  .main-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  
  .card{
      height: 85%;
  }
  
  .card:hover{
      transform: translateY(-20px);
  }

  .favourite-book {
   
    padding-bottom: 50px;
    }


  
  /* Footer */

footer{
  /* margin-top: auto; */
  background-color: #2d3c4b;
  padding: 1em 0;
  text-align: center;
  border-top: 3px solid black 2px;
  position: relative;
  bottom: 0;
  display: none;
}

footer div.social{
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}
footer div p{
  font-size: 20px;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}


footer div.links a{
  margin: 0 30px;
}

footer div.links a i{
  font-size: 1.5rem;
  color: #fff;
}

footer div.links a i:hover,
footer p:hover{
  color: #f5c36e;
}
  
  }
  
  /* DESKTOP */
  
  @media(min-width:1023px){
  
      .search-form{
          display: block;
      }
  
      #search-btn{
          display: none;
      }
      
      .header-container-2{
          display: block;
      }
  
      .bottom-navbar{
          display: none;
      }
  
      .main-container{
          margin-top: 30px;
      }
  
      .main-container div h2{
          display: inline;
          font-weight: bold;
          font-size: 30px;
          background: none;
          border: none;
          }
  
      .card h2{
          color: white;
          font-weight: bold;
          font-size: 30px;
          text-align: left;    
      }
  
      .card:hover{
          transform: translateY(-20px);
          filter: none;
      }
  
  footer{
      display: block;
      
  }
  
  
  }