<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
     <!-- HEADER -->

     <%- include("../partials/header") %>
     <!--Barra de navegacion celular-->
     <nav>
        <div class="bottom-navbar">
        <a href="/" class="fas fa-home"></a>
        <a href="#destacados" class="fas fa-tags"></a>
        <a href="#plataforma" class="fa-solid fa-laptop-file"></a>
        <a href="#categorias" class="fa-solid fa-swatchbook"></a>
    </div>
        </nav>
    <main>
        <h1>Usuario</h1>
        <div class="user">
            <img src="/img/users/test.jpg" alt="foto usuario">
            
            <div class="info-user">
            <p>Nombre de Usuario: </p>
            <p>Clave: </p>
            <br>
            <p>Nombre Completo: </p>
            <p>Mail: </p>
            <p>Teléfono: </p>
            <p>Género: </p>
            </div>            
        </div>
        <div class="user-edit">
                <a class="buttom" href="#">Editar</a>
            </div>
        <section class="favouritebook">
            <h2>Favorirtos</h2>

        </section>
    </main>
    <!-- Footer -->

    <%- include("../partials/footer") %>
</body>
</html>