<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Head con CSS -->
    <%- include("../partials/head") %>
    <title>Carrito</title>
</head>
<body>
    <header>
    <!-- LOGO -->
    <div class="header-container">
        <div class="logo-bookstore">
            <a href="/"><img src="/img/logo.jpg" alt="Logo Book Store" /></a>
        </div>
    </div>
    <!-- NAVEGACION -->
    <div class="header-container-2">
        <a href="./catalog"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
    </div>
</header>

    <!-- CARRITO DE COMPRAS -->
    <div class="container">
        <h1>Shopping Cart</h1>
         <div class="cart">
            <div class="products">
                
            </div>
            
            <div class="cart-total">
                
                
            </div>
        </div>
    </div>
    
</body>
<script src="/JS/cartList.js"></script>
</html>