<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include Head con CSS -->
    <%- include("../partials/head") %>

    <title>Crear</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        Agregar Producto
        <a href="/"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
      </div>
      <!-- FORMULARIO -->

      <form method="POST" action="/products/create"  enctype="multipart/form-data">  
        <div class="user-details">
          <div class="input-box">

            <span class="details">Titulo</span>
            <input type="text" name="title" placeholder="Titulo" required />
          </div>
          <div class="input-box">

            <span class="details">Autor</span>
            <input type="text" name="author" placeholder="Autor" required />
          </div>
          <div class="input-box">

            <span class="details">Precio</span>
            <input type="text" name="price" placeholder="Precio" required />
          </div>
          <div class="input-box">

            <span class="details">Moneda</span>
            <input type="text" name="currency" placeholder="Moneda" required />
          </div>
          <div class="input-box">

            <span class="details">Descripcion</span>
            <input type="text" name="description" placeholder="Descripcion" required />
          </div>
          <div class="input-box">

            <span class="details">Imagen</span>
            <div class="foto-producto">
              <input type="file" name="image" accept=".jpg" multiple id="foto-producto"/>
              <label for="foto-producto"
                ><i class="fa-solid fa-image"></i>Foto del producto</label
              >
            </div>
          </div>
        </div>
        <div>
          <label>Categoria</label>
          <select name="category_id">
              <% category.forEach(category => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
          </select>
      </div>
          
          <div class="button">
            <input type="submit" value="Agregar" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
