<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Head -->
    <%- include("../partials/head") %>
    
    <!-- Custom CSS -->
    <link href="/css/detalle-producto.css" rel="stylesheet" />

    <!-- Titulo -->
    <title>Product Details</title>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-container">
            <!-- LOGO -->
            <div class="logo-bookstore">
            <a href="/"><img src="/img/logo.jpg" alt="Logo Book Store" /></a>
            </div>
        </div>
        <div class="header-container-2">
            <nav class="navbar">
              <a href="/">home</a>
              <a href="#lanzamientos">lanzamientos</a>
              <a href="#plataforma">plataforma</a>
              <a href="#categorias">categorias</a>
            </nav>
          </div>
          </nav>
    </header>
    <!-- BOTTOM NAVBAR -->
    <nav>
        <div class="bottom-navbar">
        <a href="/" class="fas fa-home"></a>
        <a href="#destacados" class="fas fa-tags"></a>
        <a href="#plataforma" class="fa-solid fa-laptop-file"></a>
        <a href="#categorias" class="fa-solid fa-swatchbook"></a>
    </div>
        </nav>
    <!-- CONTENEDOR TOTAL -->
    <div class="contenedor-total">
    <div class="card">
        <div class="imgBox">
            <img src="/img/register-background.jpg" alt="Libro">
        </div>
        <div class="details">
            <div class="title">
                <h3>Libro XX <br>
                    <small>Categoria</small>
                </h3>
            </div>
            <div class="description">
    <h4>Descripcion</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum enim eveniet quos voluptates pariatur vitae. 
    Numquam corporis alias recusandae distinctio excepturi. Voluptas quae deserunt qui 
    enim voluptates animi ad aperiam?</p>
            </div>
            <div class="buy">
                <div class="price">
                    <sup>$</sup>
                    <span>155</span>
                </div>
                <div class="button">
                    <a href="/cart">Agregar al Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->

<%- include("../partials/footer") %>
</body>
</html>